body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

a {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 20px;
}

.fett {
    font-weight: bold;
}

.kursiv {
    font-style: italic;
}

.klein {
    font-size: 0.75em;
}

.abstand_unten {
    margin-bottom: 1em;
}
.abstand_oben {
    margin-top: 1em;
}

input[type="text"], input[type="url"] {
    width: 100%;
    margin-bottom: 1.5em
}
@media (min-width: 800px) {
    input[type="text"], input[type="url"] {
        width: 50%;
    }
}