<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Web-Lesezeichen: Details Ordner</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <h1>Details für Lesezeichenordner
        "<span th:text="${ordner.getName()}"></span>"
    </h1>

    <div>
        <span th:if="${ordner.istWurzel()}" >Oberster Ordner</span>
        <a    th:if="${!ordner.istWurzel()}"
              th:href="'/app/ordner/' + ${ordner.getVater().getId()}">Einen Ordner nach oben</a>
    </div>
    <br><br>

    <h3>
        Lesezeichen
        ( <span th:text="${#lists.size(ordner.getLesezeichen())}"></span> ):
    </h3>
    <ul>
        <li th:each="lesezeichen : ${ordner.getLesezeichen()}">
            <a th:href="${lesezeichen.getUrl()}"
               target="_blank"
               th:utext="${lesezeichen.getName()} + ' ↗'"></a>
            <br>
        </li>
    </ul>
    <br><br>

    <div th:if="${#lists.isEmpty(unterordnerliste)}">Keine Unterordner</div>
    <div th:unless="${#lists.isEmpty(unterordnerliste)}">
        <span th:text="'Unterordner (' + ${#lists.size(unterordnerliste)} + ')'"></span>:
        <span th:each="unterordner : ${unterordnerliste}">
            <a th:href="'/app/ordner/' + ${unterordner.getId()}">
                <span th:text="${unterordner.getName()}"></span>
            </a>
            &nbsp;
        </span>
    </div>

</body>